astroid==2.3.1
certifi==2022.12.7
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.27
django-heroku==0.3.1
gunicorn==19.9.0
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
praw==6.3.1
prawcore==1.0.1
psycopg2==2.8.3
pylint==2.4.2
pylint-django==2.0.11
pylint-plugin-utils==0.6
pytz==2019.2
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
typed-ast==1.4.0
update-checker==0.16
urllib3==1.25.11
websocket-client==0.56.0
whitenoise==4.1.4
wrapt==1.11.2
