<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'MarketplacesForReddit/style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Marketplaces for Reddit</title>
</head>
<body>
    <header>
       <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">
                Marketplaces for Reddit
            </a>
        </nav>
    </header>
    <main role="main">
        <div class="container">
            <h1>Search</h1>
            <button type="submit" class="btn btn-primary search-btn">Search</button>
            <div style="overflow: hidden; padding-right: .5em;">
                <input class="form-control" formmethod="get" type="search" placeholder="Search..."><br>
            </div>

            <h4>Listing Filters</h4>
            <hr>
            <div class="row">
                <div class="col-sm">
                    <label for="date-range">Date within:</label>
                    <select class="custom-select" id="date-range">
                        <option value="1">1 day</option>
                        <option value="3">3 days</option>
                        <option value="7">1 week</option>
                        <option value="14">2 weeks</option>
                        <option value="30">1 month</option>
                        <option value="60">2 months</option>
                        <option value="180">6 months</option>
                        <option value="365">1 year</option>
                    </select>
                    <input class="form-control" type="date" id="date" name="listing-date">
                </div>
                <div class="col-sm">
                    <label for="trade-range-type">Number of Trades:</label>
                    <select class="custom-select" id="trade-range-type" name="listing-trades-range-type">
                        <option value="greater">greater than</option>
                        <option value="less">less than</option>
                    </select>
                    <input class="form-control" type="number" min="0" id="number-of-trades" name="listing-trades-amount">
                </div>
                <div class="col-sm">
                    <label for="listing-type">Listing Type:</label>
                    <div id="listing-type">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="listing-type" id="exampleRadios2" value="selling" checked>
                            <label class="form-check-label" for="exampleRadios2">
                                Selling
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="listing-type" id="exampleRadios1" value="buying">
                            <label class="form-check-label" for="exampleRadios1">
                                Buying
                            </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="listing-type" id="listing-type-trading" value="trading">
                          <label class="form-check-label" for="listing-type-trading">
                              Trading
                          </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <label for="date-range">Location:</label>
                    <select class="custom-select" id="date-range">
                        <option value="1">[USA-TX]</option>
                    </select>
                </div>
            </div><br>

            <h2>New Listings...</h2>
            <hr>
            {% for listing in listings %}
                <div class="row">
                    <div class="col-sm-2">
                        <a href="{{ listing.url }}">View Listing</a>
                    </div>
                    <div class="col-sm">
                        {{ listing.get_location }} {{ listing.get_has }} {{ listing.get_wants }}
                    </div>
                    <div class="col-sm">
                        {{ listing.created_utc }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>