{% extends 'base/base.html' %}
{% load humanize %}
{% block content %}
    <h1>Search</h1>
    <hr>
    <div class="row">
        {{ search_form.non_field_errors }}
    </div>
    <form action="/search/" method="GET">  
        <div class="form-group row">
            <div class="col-sm-9">    
                {{ search_form.search.errors }}
                {{ search_form.search }} 
            </div>
            <div class="col-sm-1">
                <input class="btn btn-primary" type="submit" value="Search">
            </div>
            <div class="col-sm-2">    
                    {{ search_form.search_title_only.errors }}
                    <div class="form-check">
                        {{ search_form.search_title_only }}
                        <label
                            class="form-check-label"
                            for="{{ search_form.search_title_only.id_for_label }}">
                            Search title only
                        </label>
                    </div>
                </div>
        </div>
        <div class="form-group row">
            <div class="col-sm">    
                {{ search_form.location.errors }}
                {{ search_form.location.label_tag }}
                {{ search_form.location }}
            </div>
            <div class="col-sm">
                    {{ search_form.listing_type.errors }}
                    {{ search_form.listing_type.label_tag }}
                    {{ search_form.listing_type }}
                </div>
                <div class="col-sm">
                    {{ search_form.payment_type.errors }}
                    {{ search_form.payment_type.label_tag }}
                    {{ search_form.payment_type }}
                </div>
            <div class="col-sm">    
                {{ search_form.date_within.errors }}
                {{ search_form.date.errors }}
                {{ search_form.date_within.label_tag }}
                {{ search_form.date_within }}
                {{ search_form.date }}
            </div>
            <div class="col-sm">    
                {{ search_form.number_of_trades.errors }}
                {{ search_form.number_of_trades_filter.errors }}
                {{ search_form.number_of_trades.label_tag }}
                {{ search_form.number_of_trades_filter }}
                {{ search_form.number_of_trades }}
            </div>
        </div>
    </form>
    <h2>New Listings...</h2>
    <hr>
    {% for listing in listings %}
        <div class="row row-spacer">
            <div class="col-sm-1">
                {{ listing.link_flair_text }}
            </div>
            <div class="col-sm-9">
                <a href="{{ listing.url }}" target="_blank" rel="noopener noreferrer">
                    {{ listing.get_location }} {{ listing.get_has }} {{ listing.get_wants }}
                </a>
            </div>
            <div class="col-sm-2">
                {{ listing.created_utc|naturaltime }}
            </div>
        </div>
    {% endfor %}
{% endblock %}